{% extends 'base.html.twig' %}

{% block title %}Novo Usuário{% endblock %}

{% block body %}
 <div class="espaco">
    <div class="ui grid">
        <div class="row">
            <div class="twelve wide column">
                <h3>Adicionar Usuário</h3>
            </div>
        </div>
    </div>
    {{ include('usuario/_form.html.twig') }}
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
{% endblock %}