{% extends 'base.html.twig' %}

{% block title %}Funcionario{% endblock %}

{% block body %}
<div class="espaco">
                <h5 class="ui header">Dados do Funcionário</h5>
    <div class="ui segments four column grid">       
        {% include('funcionario/_funcionario_card.html.twig') %}
        {% include('remuneracao/_remuneracao_card.html.twig') %}
        {% include('user/_user_card.html.twig') %}
    </div>
</div>
{% endblock %}
