{% extends 'base.html.twig' %}

{% block title %}Alterar Status{% endblock %}

{% block body %}
<div class="espaco">
    <h3>Alterar Status do Documento</h3>

    {{ include('status_documento/_form.html.twig', {'button_label': 'Alterar'}) }}
</div>
{% endblock %}
