{% extends 'base.html.twig' %}

{% block title %}Edit StatusDocumento{% endblock %}

{% block body %}
    <h1>Edit StatusDocumento</h1>

    {{ include('status_documento/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
