{% extends 'base.html.twig' %}

{% block title %}Editar Secretaria{% endblock %}

{% block body %}
    <h1>Editar Secretaria</h1>

    {{ include('secretaria/_form.html.twig', {'button_label': 'Atualizar'}) }}

<div class="container">
<div class="col-md-12">
    <div class="col-md-4">
        <a href="{{ path('secretaria_index') }}"><button type="button" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-circle-left"></i> Voltar</button></a>
         {% if is_granted('ROLE_ADMIN') %}
         {{ include('secretaria/_delete_form.html.twig') }}
         {% endif %}
    </div>
</div>
</div>
{% endblock %}
