<form method="post" action="{{ path('sub_secretaria_delete', {'id': sub_secretarium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_secretarium.id) }}">
    <button class="btn">Delete</button>
</form>
