{% extends 'base.html.twig' %}

{% block title %}Edit SubSecretaria{% endblock %}

{% block body %}
    <h1>Edit SubSecretaria</h1>

    {{ include('sub_secretaria/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sub_secretaria_index') }}">back to list</a>

    {{ include('sub_secretaria/_delete_form.html.twig') }}
{% endblock %}
