{% extends 'base.html.twig' %}

{% block title %}New Habitacao{% endblock %}

{% block body %}
    <h1>Create new Habitacao</h1>

    {{ include('habitacao/_form.html.twig') }}

    <a href="{{ path('habitacao_index') }}">back to list</a>
{% endblock %}
