{% extends 'base.html.twig' %}

{% block title %}New Tramitacao{% endblock %}

{% block body %}
    <h1>Create new Tramitacao</h1>

    {{ include('tramitacao/_form.html.twig') }}

    <a href="{{ path('tramitacao_index') }}">back to list</a>
{% endblock %}
