{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acesso Negado</h1>

    <p>        
       <a href="{{ path('dashboard') }}">return to the homepage</a>.
    </p>
{% endblock %}