{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="espaco">
    <h1>Novo Usuário</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
</div>
{% endblock %}
