{% extends 'base.html.twig' %}

{% block title %}Editar Documento{% endblock %}

{% block body %}
<div class="espaco">
    <h3>Editando Documento</h3>
    <div class="direita">
    {{ include('documento/_delete_form.html.twig') }}
    </div>
    {{ include('documento/_form.html.twig') }}
    
</div>
{% endblock %}
