{% extends 'base.html.twig' %}

{% block title %}Edit Documento{% endblock %}

{% block body %}
<div class="espaco">
    <h1>Encaminhar Documento</h1>

    {{ include('documento/_formEncaminhar.html.twig', {'button_label': 'Encaminhar'}) }}

    <a href="{{ path('documento_index') }}">back to list</a>

    {{ include('documento/_delete_form.html.twig') }}
</div>
{% endblock %}
