{% extends 'base.html.twig' %}

{% block title %}Novo Documento{% endblock %}

{% block body %}
<div class="espaco">
    <h3>Cadastrar Novo Documento</h3>
    {{ include('documento/_form.html.twig') }}
</div>
{% endblock %}
